{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:nuxt/recommended",
        "plugin:prettier/recommended",
        "plugin:tailwindcss/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "plugins": [
        "vue",
        "prettier",
        "tailwindcss",
        "@typescript-eslint"
    ],
    "settings": {
        "tailwindcss": {
            "config": ".nuxt/tailwind.config.cjs"
        }
    },
    "rules": {
        "vue/multi-word-component-names": 0,
        "no-console": "off",
        "max-len": "off",
        "prettier/prettier": [
            "error",
            {
                "semi": true,
                "tabWidth": 2,
                "trailingComma": "none",
                "singleQuote": true,
                "printWidth": 120
            }
        ]
        // "tailwindcss/no-custom-classname": [
        //   0,
        //   {
        //     "regex": "^bg-"
        //   }
        // ]
    }
}