{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:nuxt/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "plugins": [
        "vue",
        "prettier",
        "@typescript-eslint"
    ],
    "rules": {
        "vue/multi-word-component-names": 0,
        "no-console": "off",
        "prettier/prettier": [
            "error"
        ]
    }
}